@{
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<div class="details"

<h2>Stylist Details</h2>
<h1>Clients</h1>

@if (@Model.Clients.Count == 0)
{
    <h3>No Clients have been added yet!</h3>
}

<ul>
    
    @foreach (Client client in Model.Clients)
    {
        <li>@client.Name</li>
    }
</ul>

<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

<p>@Html.ActionLink("Add new Stylists", "Create")</p>
<p>@Html.ActionLink("Back to Stylists", "Index", "Home")</p>
<p>@Html.ActionLink("Add new Client", "Create", "Clients",new { id = Model.StylistId })</p>

</div>
