@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<header>  
<h4>Add Client</h4>

<ul class="navbar"> 
  <li>@Html.ActionLink("Stylists", "Index", "Home")</li>
  <li>@Html.ActionLink("Add Stylists", "Create", "Stylists", new {id = ViewBag.StylistId})</li>

</ul>
</header>

<div> 
@using (Html.BeginForm())

{
@Html.Hidden("StylistId",(int) ViewBag.StylistId )

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)


  <input type="submit" value="Add new Client" />
}


</div>

